/* Body styles */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mallanna', sans-serif;
    background-color: #F4F4F4;
    text-align: justify;
}

h1,h2 {
    font-family: 'Mallanna', sans-serif;
    color: #E17192;
}

h3,h4,h5,h6 {
    color: #840C1A;
    font-family: 'Passero One', cursive;
}

@media only screen and (max-width: 500px) {
    .main-content {
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* Navbar */
.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #E17192 !important;
    font-family: 'Passion One', cursive;
    margin: auto 1rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.nav-link:hover,.nav-link:focus,.nav-link:active {
    color: #BB1646 !important;
}

.nav-link-active {
    color: #BB1646 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 800px) {
    .nav-item {
        margin-top: 1%;
    }
}


/* Section */
.welcome-text{
    margin-left: 320px;
    margin-top: 200px;
    align-items: center;
}

.welcome-text h1{
    padding-bottom: 30px;
    font-size: 80px;
}

.welcome-text h4{
    margin-left: 160px;
}

.welcome-page-image{
    margin-left: 820px;
    position: relative;
    bottom: 130px;
}

.website-options {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.website-options-list {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.options-item {
    text-decoration: none;
    list-style-type: none;
}

.options-link {
    color: #E17192 !important;
    font-family: 'Passion One', cursive;
    margin: auto 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
}

.options-link:hover,.options-link:focus,.options-link:active {
    color: #BB1646 !important;
}

.options-link-active {
    color: #BB1646 !important;
}

@media only screen and (max-width: 800px) {
    .options-item {
        margin-top: 1%;
    }
}

#checklist-text {
    margin-top: 200px;
    margin-left: 50px;
}

#checklist-page-image {
    margin-left: 820px;
    margin-top: 300px;
}

#reminder-button {
    background-color: #BB1646;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-family: 'Passero One', cursive;
    margin: 4px 2px;
    cursor: pointer;
}

#grade-text {
    font-size: 100px;
    margin-left: 485px;
    margin-top: 150px;
}

#grades-table {
    margin-left: 80px;
    margin-top: 50px;
}

table {
    font-family: 'Mallanna', sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 30px;
  }

th {
    font-size: 22px;
    color: #840C1A;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

#grades-page-image {
    width: 30%;
    margin-left: 888px;
    margin-top: 300px;
    position: relative;
    bottom: 700px;
}

/* Footer */
footer {
	margin-top: 70px;
	padding: 40px 0 0 0;
    background-color: #ffcc00b6;
	color: #840C1A;
	text-align: left;
}

.footer-right {
	text-align: left;
}

.footer-link {
    text-decoration: none;
    color: #0c1540;
    margin-left: 2%;
    font-weight: 600;
}

.footer-link:hover,.footer-link:active,.footer-link:focus {
    color: #0c1540;
}

@media only screen and (max-width: 768px) {
    .footer-right {
        margin-left: 2%;
        margin-bottom: 3%;
    }
}


/* Scroll to top arrow */
#return-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #ffcc00b6;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #BB1646;
    margin: 0;
    position: relative;
    right: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #E17192;
}

#return-to-top:hover i {
    color: #BB1646;
    top: 5px;
}


/* Top content responsive */
.top-con {
    margin-top: 12%;
}

@media screen and (max-width: 1200px)
{
    .top-con {
        margin-top: 20%;
    }
}

@media screen and (max-width: 1200px)
{
    .top-con {
        margin-top: 30%;
    }
}
